.vscode
.ipynb_checkpoints
.mypy_cache
.venv
__pycache__
*.txt
*.jpg
*.png
!img1.jpg
!img2.jpg
!img3.jpg
!img4.jpg
!img5.jpg
test*
!Belgium.png
!Bulgaria.png
!Denmark.png
!Finland.png
!Germany.png
!Hungary.png
!Italy.png
!Monaco.png
!Poland.png
!Sweden.png
hash_sample.json